.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/reports/*
!data/reports/.gitkeep
data/dense/*
!data/dense/.gitkeep
data/reranker/*
!data/reranker/.gitkeep
data/generation/*
!data/generation/.gitkeep
data/experiments/*
!data/experiments/.gitkeep
data/evaluations/*
!data/evaluations/.gitkeep
